<div id="wikis">
<h2>
  <%if @video%>
  <%if @video.wikis.count > 1 %>
    This video has <%=@video.wikis.count%> Wiki(s)
  <%else%>
    This video has no wikis. Please help us identifying this movie!
<%end%>
<%end%>
</h2>
<%#*<div id="sortwikis" style="margin: 0 auto; padding: 0 0;">%>
  <%#*<input  id="sortwikibydate" type="button" value="All Sorted by Date"/>%>
  <%#*<input  id="sortwikibyscore" type="button" value="All Sorted by Score"/>%>
  <%#*</div>%>
<div id="wikis_list">
<ul>
<%=
  if @video
    render :partial => @video.wikis.order("param_count_ok desc") , :locals => {:order  => "param_count_ok desc"}
  end
%>
</ul>
</div>


  <div class="wgc-bubble" style="width: 400px; text-align: center;">

<%= if @video
  form_for @wiki , :remote => true do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error")%>
        prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |msg| %>
        <li><%= msg%>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :video_id %>

<h3>Add new wiki</h3>

  <p>Date of creation<br/>
    <%= f.date_select   :param_wiki_date %>
  </p>
  <p>Author<br/>
    <%=f.text_field   :param_wiki_author %>
  </p>
  <p>Counrty from<br/>
    <%=f.text_field   :param_wiki_country %>
  </p>
  <p>Clip history<br/>
    <%=f.text_area   :param_wiki_story %>
  </p>
  <p>Web relative links<br/>
    <%=f.text_field   :param_wiki_links %>
  </p>

  <div class="field">
    <%= f.label :param_desc %><br />
    <%= f.text_field :param_desc %>
  </div>

  <div class="field">
    <%= f.label :param_submitter %><br />
    <%= f.text_field :param_submitter %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end
end%>
</div>

</div>