<table style="margin-left: auto;margin-right: auto;text-align: left;padding-bottom: 10px;">
  <tr>
    <td style="text-align: center;" >
      <%= button_to "UPLOAD A NEW CLIP", {:action => "new"  }, {:style => "font-size:30px", :method => :get} %>
    </td>
  </tr>
  <tr>
    <td style="text-align: center;" >
    </td>
  </tr>

</table>

<h1 style="text-align: center">GARBAGE FLOW</h1>
<div id="playlist"
     style="width:967px;height:150px;overflow-y:hidden;overflow-x:scroll;background: none"

     class="wgc-bubble">
  <ul style="width:200%;">
    <%@i=0; @videos.each do |video|
      @i=@i+1 %>
      <li style="float: left;margin-left: 30px;list-style: none">
        <a id="wcc_video_<%=video.id%>_begin_tag_<%=video.param_title%>_end_tag_flow_thumb" href="<%=video.param_video_url%>" >
          <%=image_tag video.param_thumb , {:class => "video_thumb"} %>
        </a>
      </li>
    <% end %>
  </ul>
</div>  

<table style="margin-left: auto;margin-right: auto;text-align: left;padding-bottom: 10px;">
  <tr>
    <td>
      <!-- products/index.html.erb -->
      <%= form_tag videos_path, :method => 'get', :id => "videos_search", :remote => true do %>
        <%= text_field_tag :search, params[:search], {:size => "60", :maxlength => 255, :style => "font-size: 30px" } %>
      </td>
    </tr>

    <tr>
      <td style="text-align: center;">
        <%= submit_tag "SEARCH", { :id => "videos_search_submit" ,:name => nil , :style => "font-size:30px" } %>
      </td>
    </tr>
  </table>
<% end %>


<div id ="RESULTS" style="float:right; text-align: center;font-size: 30px;">
  <h3 style="font-size: 20px">RESULTS</h3>
  <div id="videos"><%= render 'videos' %>
  </div>
</div>

<%=
@initVideo = Video.new();
@initVideo.param_title = "Welcome to WGC !";

render :file => "videos/player.html" , :locals => {:video => @initVideo } %>

<%= render :file => "videos/ad.html" %>


<%= render :partial => 'show_wiki' , :locals => {:myId  => 1} %>
<%#= link_to "Vote Yes", {:controller=>"videos", :action => 'show_wiki',:id=>5, :vote=>true}, :remote=> true, :class=> "yes-button" %>
<%#= link_to 'show_wiki',
'videos/1/show_wiki',
:update => 'wiki_video',
:url => 'http://www.google.fr',
:id => "testAJAX",
:remote => :true%>


<%#*<ul>%>
<%# for video in @videos %>
<%#*<li><%= video.param_title %>
<%#= link_to image_tag(video.param_thumb), video_path(video)%>
<%#= video.param_path %>
<%#= link_to 'view', video_path(video) %>
<%#*</li>%>
<%# end %>
<%#*</ul>%>


<%#=   link_to_remote(image_tag("favicon.jpg"), :update => "emails",
:url => { :action => "_show_wiki" })%>

<%#=link_to_remote image_tag('favicon.jpg'),  {:controller => 'videos', :action => 'show_wiki', :id => 1},:update => 'http://www.google.fr' %>