<div id="NewVideoTitle" style="text-align: center">
  <h1>Import a new video</h1>
</div>
<%# form_for(@video) do |f| %>
<% form_for(@video, :html => {:multipart => true, :class => 'styledform' }) do |f| %>

  <%#*<p>%>
  <%#= f.label :param_title %>
  <%#= f.text_field :param_title %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_doc %>
  <%#= f.date_select :param_doc %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_size %>
  <%#= f.text_field :param_size %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_path %>
  <%#= f.text_field :param_path %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_hits %>
  <%#= f.text_field :param_hits %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_mark %>
  <%#= f.text_field :param_mark %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_desc %>
  <%#= f.text_field :param_desc %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_type %>
  <%#= f.text_field :param_type %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :movieclip %>
  <%#= f.file_field :movieclip %>
  <%#*</p>%>



  <%#*<p>%>
  <%#= f.label :param_doc %>
  <%#= f.date_select :param_doc %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_size %>
  <%#= f.text_field :param_size %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_path %>
  <%#= f.text_field :param_path %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_hits %>
  <%#= f.text_field :param_hits %>
  <%#*</p>%>
  <%#*<p>%>
  <%#= f.label :param_mark %>
  <%#= f.text_field :param_mark %>
  <%#*</p>%>
  <%= f.error_messages %>
  <div style="width: 950px;height: 250px;border: 0px double red;margin: 0 auto; padding: 0 0;">

    <table style="text-align: center">

      <tr>
        <td>  <%= f.label "Video title",{},{:style => "font-size:30px"} %><br /><br />
          <%= f.text_field :param_title,{:style => "font-size:20px"}  %></td>
        <td rowspan="2"> <%= f.label "Video description" ,{},{:style => "font-size:30px"} %><br /><br />
          <%= f.text_area :param_desc,{:rows => 10} %></td>
      </tr>
      <tr>
        <td>
<%#= f.label "Browse video file",{},{:style => "font-size:30px"} %>
          <%#*<br />%>
          <%= f.file_field :movieclip,{:style => "font-size:30px"} %></td>

      </tr>
      <tr>

      </tr>
      <tr>
  <%#*<td>  <%= f.label "Select a type" %>
  <%#*<br />%>
  <%#= f.text_field :param_type %>
  <%#*</td>%>
        <td colspan="2">  <br/><br/><%= f.submit '         Upload        ',{:style => "font-size:30px"} %> </td>

      </tr>

    </table>
  <% end %>
</div>
<div id="clearnew" style="padding: 50px 0"></div>
<%#= link_to 'Back', videos_path %>