<p>
  <b>Param title:</b>
  <%=h @video.param_title %>
</p>

<p>
  <b>Param doc:</b>
  <%=h @video.param_doc %>
</p>

<p>
  <b>Param size:</b>
  <%=h @video.param_size %>
</p>

<p>
  <b>Param path:</b>
  <%=h @video.param_path %>
</p>

<p>
  <b>Param hits:</b>
  <%=h @video.param_hits %>
</p>

<p>
  <b>Param mark:</b>
  <%=h @video.param_mark %>
</p>

<p>
  <b>Param desc:</b>
  <%=h @video.param_desc %>
</p>

<p>
  <b>Param type:</b>
  <%=h @video.param_type %>
</p>

<p>
  <b>Param title:</b>
  <%=h @video.param_title %>
</p>

<p>
  <b>Param doc:</b>
  <%=h @video.param_doc %>
</p>

<p>
  <b>Param size:</b>
  <%=h @video.param_size %>
</p>

<p>
  <b>Param path:</b>
  <%=h @video.param_path %>
</p>

<p>
  <b>Param hits:</b>
  <%=h @video.param_hits %>
</p>

<p>
  <b>Param mark:</b>
  <%=h @video.param_mark %>
</p>

<p>
  <b>Param desc:</b>
  <%=h @video.param_desc %>
</p>

<p>
  <b>Param type:</b>
  <%=h @video.param_type %>
</p>
